cffi==1.14.6
chardet==4.0.0
click==8.0.1
cryptography==3.4.7
dnspython==2.1.0
Flask==2.0.1
future==0.18.2
impacket==0.9.23
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
ldap3==2.9.1
ldapdomaindump==0.9.3
MarkupSafe==2.0.1
pyasn1==0.4.8
pycparser==2.20
pycryptodomex==3.10.1
pyOpenSSL==20.0.1
six==1.16.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
